<style>
    .card {
        position: relative;
        min-width: 0;
        word-wrap: break-word;
        background-color: rgb(231, 229, 229);
        background-clip: border-box;
        border: 1px solid rgba(203, 200, 200, 0.125);
        border-radius: .25rem;
    }

    .player-left {
        position: relative;
        display: inline-block;
        text-align: center;
        border-radius: 100%;
        background-color: #f3eef2;
        text-transform: uppercase;
    }
</style>

{{> navbar}}

<div class="container my-3">
    <div class="col-md-12">
        <div class=" col-md-4 my-3">
            <h3>Table: {{game.name}}</h2>
        </div>
        <div class="col-md-4 my-3">
            <h4>Players At This Table: {{game.num}}/4</h3>
        </div>

        {{#each players}}
        <div class="card d-flex flex-column mb-3">
            <div class="card-body d-flex align-content-start">
                <div class="player-left m-1 avatar avatar_{{user.avatar}}"> </div>
                <div class="player-body">
                    <div class="mb-2">
                        <span class="fs-5 ps-2">{{this.name}}</span>
                        {{#if this.iscreator}}
                        <small class="fs-6 ps-1">(table administrator)</small>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        {{/each}}

        <div id='toolbar'>
            <div class='wrapper text-center'>
                {{#if game.isFull}}
                <div class="btn-group me-2" role="group" aria-label="First group">
                    <a class="btn btn-primary" href="#" role="button" id="start-game-btn"
                        data-gameid="{{game.id}}">Start game</a>
                </div>
                {{else}}
                <div class="btn-group me-2" role="group" aria-label="First group">
                    <button type="submit" class="btn btn-primary" id="start-game-btn"
                        style="pointer-events: none;">Start game(not enough
                        members)</button>
                </div>
                {{/if}}
                <div class="btn-group me-2" role="group" aria-label="First group">
                    <a class="btn btn-secondary" href="/lobby" role="button" id="quit-game-btn"
                        data-gameid="{{game.id}}">Quit</a>
                </div>
                <div class="btn-group me-2" role="group" aria-label="First group">
                    <a class="btn btn-secondary" href="/lobby" role="button">Back to lobby</a>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    const quitButton = document.getElementById("quit-game-btn");
    quitButton.addEventListener('click', e => {
        let { gameid } = quitButton.dataset;
        console.log('Quited gameid', gameid)
        fetch('/game/quit', {
            method: "POST",
            headers: {
                "Content-Type": "Application/json"
            },
            body: JSON.stringify({
                gameid: gameid
            })
        })
            .then(response => response.json())
            .then(json => {
                if (json.code == 1) {
                    console.log(window.location.href)
                    window.location.href = '/lobby'
                }
            })
            .catch(error => {
                console.log(error)
            })
    })

    const startButton = document.getElementById("start-game-btn");
    startButton.addEventListener('click', e => {
        let { gameid } = startButton.dataset;
        fetch('/game/start', {
            method: "POST",
            headers: {
                "Content-Type": "Application/json"
            },
            body: JSON.stringify({
                gameid: gameid
            })
        })
            .then(response => response.json())
            .then(json => {
                if (json.code == 1) {
                    window.location.href = `/game/show/${gameid}`
                }
            })
            .catch(error => {
                console.log(error)
            })
    })
</script>