<!-- 
    Title: The Lobby
    URI: /lobby
    View: lobby.handlebars
-->

{{> navbar}}
<main>

    <div class="row mt-5">
        <div class="col-6 ms-auto">
            <div class="card">
                <div class="card-body bg-light">
                    <h5 class="card-title">Create A New Game</h5>
                </div>
                <div class="mx-auto">
                    <a href="/game/create" class="btn btn-primary my-3" role="button">Create New Game</a>
                </div>
                <div class="ms-2">
                    <p>Your Games Here</p>
                    <table class="engaged-games">
                        {{#each engaedGames}}
                        <tr>
                            <td>
                                <p> {{this.game.name}}: </p>
                            </td>
                            <td>
                                <p> {{this.numOfUsers}}/4 </p>
                            </td>
                            <td>
                                <a href="/game/created/{{this.game.id}}" class="btn btn-primary my-3" role="button"
                                    id="view-game-btn">View</a>
                            </td>
                            <td>
                                <a href="" class="btn btn-primary my-3" role="button" id="quit-game-btn"
                                    data-gameid="{{this.game.id}}">Quit</a>
                            </td>
                        </tr>
                        {{/each}}
                    </table>
                </div>
            </div><br>
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Available Games</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
                <div class="ms-2">
                    <p>List Games Here</p>
                    <table class="not-engaged-games">
                        {{#each games}}
                        <tr>
                            <td>
                                <p> {{this.game.name}}: </p>
                            </td>
                            <td>
                                <p> {{this.numOfUsers}}/4 </p>
                            </td>
                            <td>
                                <a class="btn btn-primary my-3" role="button" id="join-game-btn"
                                    data-gameid="{{this.game.id}}" data-players="{{this.numOfUsers}}">Join</a>
                            </td>
                            <td>
                                <a href="/game/created/{{this.game.id}}" class="btn btn-primary my-3" role="button"
                                    id="view-game-btn">View</a>
                            </td>
                        </tr>
                        {{/each}}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-4 me-auto">
            <div class="card" id="chat1" style="border-radius: 15px;">
                <div class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0"
                    style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                    <p class="mb-0 fw-bold">Lobby Live chat</p>
                </div>
                <div class="chat-message card-body" style="height: 500px; overflow-y: scroll;">
                </div>
                <div class="chat-form-container">
                    <form id="chat-form" class="form-outline">
                        <div class="card-footer text-muted d-flex justify-content-start align-items-center p-1">
                            <img class="mx-1 avatar avatar_{{user.avatar}}" style="width: 60px;">
                            <input id="msg" type="text" class="form-control form-control-lg mx-2"
                                placeholder="Type message" required autocomplete="off">
                            <button type="submit" class="btn btn-primary my-3">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    const joinButtons = document.querySelectorAll("#join-game-btn");
    joinButtons.forEach(function (button) {
        button.addEventListener('click', e => {
            let { gameid } = button.dataset;
            console.log('gameid', gameid)
            fetch('/game/join', {
                method: "POST",
                headers: {
                    "Content-Type": "Application/json"
                },
                body: JSON.stringify({
                    gameid: gameid
                })
            })
                .then(response => response.json())
                .then(json => {
                    if (json.code == 1) {
                        console.log(window.location.href)
                        window.location.href = `/game/created/${gameid}`
                    }
                })
                .catch(error => {
                    console.log(error)
                })
        })
    })
    const quitButtons = document.querySelectorAll("#quit-game-btn");
    quitButtons.forEach(function (button) {
        button.addEventListener('click', e => {
            let { gameid } = button.dataset;
            console.log('Quited gameid', gameid)
            fetch('/game/quit', {
                method: "POST",
                headers: {
                    "Content-Type": "Application/json"
                },
                body: JSON.stringify({
                    gameid: gameid
                })
            })
                .then(response => response.json())
                .then(json => {
                    if (json.code == 1) {
                        console.log(window.location.href)
                        window.location.href = '/lobby'
                    }
                })
                .catch(error => {
                    console.log(error)
                })
        })
    })

    const chatForm = document.getElementById('chat-form');
    const chatMessages = document.querySelector('.chat-message');
    const socket = io();

    socket.emit('login');

    socket.on('message', (message) => {
        console.log(message);
        outputMessage(message);
    });

    // Message submit
    chatForm.addEventListener('submit', (e) => {
        e.preventDefault();
        console.log("receive message from chat form...");
        //console.log(`username and user id: ${user.name}, ${user.id}`);
        //chatMessages.textContent = `Form Submitted! Time stamp: ${event.timeStamp}`;

        // Get message text
        let msg = e.target.elements.msg.value;
        msg = msg.trim();
        if (!msg) {
            return false;
        }

        // Emit message to server
        socket.emit('chatMessage', (msg));

        // Clear input
        e.target.elements.msg.value = '';
        e.target.elements.msg.focus();
    });

    // Output message to DOM
    function outputMessage(message) {
        console.log("outputMessage...");
        console.log(`the received message is: ${message}`);
        const div = document.createElement('div');
        div.classList.add("message", "d-flex", "flex-row", "justify-content-start", "mb-4");
        const img = document.createElement('img');
        img.classList.add("mx-1", "avatar", `avatar_${message.avatar}`);
        img.setAttribute('style', 'width: 40px;');
        const b = document.createElement('b');
        b.classList.add('name');
        b.innerText = `${message.username}`;
        const div2 = document.createElement('div');
        const p = document.createElement('p');
        p.classList.add('meta', 'mall', 'p-2', 'ms-3', 'mb-1', 'rounded-3');
        p.setAttribute('style', 'background-color: #f5f6f7;');
        p.innerHTML = `${message.text}`;
        const p2 = document.createElement('p');
        p2.classList.add('small', 'ms-3', 'mb-3', 'rounded-3', 'text-muted');
        p2.innerHTML = `${message.time}`;
        div2.appendChild(p);
        div2.appendChild(p2);
        div.appendChild(img);
        div.appendChild(b);
        div.appendChild(div2);
        document.querySelector('.chat-message').appendChild(div);
    }
</script>