<!-- 
    Title: Profile
    URI: /profile
    View: profile.handlebars
-->
<style>
  * {
    box-sizing: border-box;
  }

  /* Create two unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
    height: 300px;
    /* Should be removed. Only for demonstration */
  }

  .left {
    width: 25%;
  }

  .right {
    width: 75%;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .stats {
    margin-top: 5vh;

  }

  #avatarForm {
    height: 200px;
    overflow-y: scroll; // show vertical scrollbar
    overflow-x: hidden; // hide horizontal scrollbar
  }
</style>

{{> navbar}}

{{!-- <div class="container-fluid">
  <div class="row">
    <h1>Profile Page</h1>
    <h2>#{{user.id}}:{{user.name}}</h2>
    <div class="column left">
      <img class="border border-dark rounded-circle img-thumbnail"
        src="https://portalsf.surge.sh/static/Icons/grossedCat.png" alt="" />
    </div>
    <div class="column right">
      <h2>Email: {{user.email}}</h2>
      <h2>Password:</h2>
      <h2>Member since: {{user.createdAt }} </h2>
      <h2>Wins/Losses:{{user.wins}}/{{user.losses}}</h2>

    </div>
    <div class="stats">
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                aria-controls="collapseOne">
                🏆 Trophies & Achievements 🏆
              </button>
            </h5>
          </div>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
            officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
            wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
            excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
            you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                aria-controls="collapseTwo">
                📜 Match History 📜
              </button>
            </h5>
          </div>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
            officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
            wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
            excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
            you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
    </div>
  </div>
</div> --}}


<section style="background-color: #eee;">
  <div class="row mx-5">
    <div class="col-lg-4 my-5">
      <div class="card mb-4">
        <div class="card-body text-center">
          <img class="m-1 avatar avatar_{{user.avatar}}">
          <h5 class="my-3">{{user.name}}</h5>

          <p class="my-3">Change Your Avater</p>
          <form id="avatarForm" action="/users/profile" method="post">
            <input type="radio" id="0" name="avatar" value="0">
            <label for="0">
              <div class="avatar avatar_0"></div>
            </label>

            <input type="radio" id="1" name="avatar" value="1">
            <label for="1">
              <div class="avatar avatar_1"></div>
            </label>

            <input type="radio" id="2" name="avatar" value="2">
            <label for="2">
              <div class="avatar avatar_2"></div>
            </label>

            <input type="radio" id="3" name="avatar" value="3">
            <label for="3">
              <div class="avatar avatar_3"></div>
            </label><br><br>

            <input type="radio" id="4" name="avatar" value="4">
            <label for="4">
              <div class="avatar avatar_4"></div>
            </label>

            <input type="radio" id="5" name="avatar" value="5">
            <label for="5">
              <div class="avatar avatar_5"></div>
            </label>

            <input type="radio" id="6" name="avatar" value="6">
            <label for="6">
              <div class="avatar avatar_6"></div>
            </label>

            <input type="radio" id="7" name="avatar" value="7">
            <label for="7">
              <div class="avatar avatar_7"></div>
            </label><br><br>

            <input type="radio" id="8" name="avatar" value="8">
            <label for="8">
              <div class="avatar avatar_8"></div>
            </label>

            <input type="radio" id="9" name="avatar" value="9">
            <label for="9">
              <div class="avatar avatar_9"></div>
            </label>

            <input type="radio" id="10" name="avatar" value="10">
            <label for="10">
              <div class="avatar avatar_10"></div>
            </label>

            <input type="radio" id="11" name="avatar" value="11">
            <label for="11">
              <div class="avatar avatar_11"></div>
            </label><br><br>

            <input type="radio" id="12" name="avatar" value="12">
            <label for="12">
              <div class="avatar avatar_12"></div>
            </label>

            <input type="radio" id="13" name="avatar" value="13">
            <label for="13">
              <div class="avatar avatar_13"></div>
            </label>

            <input type="radio" id="14" name="avatar" value="14">
            <label for="14">
              <div class="avatar avatar_14"></div>
            </label>

            <input type="radio" id="15" name="avatar" value="15">
            <label for="15">
              <div class="avatar avatar_15"></div>
            </label><br><br>

            <input type="radio" id="16" name="avatar" value="16">
            <label for="16">
              <div class="avatar avatar_16"></div>
            </label>

            <input type="radio" id="17" name="avatar" value="17">
            <label for="17">
              <div class="avatar avatar_17"></div>
            </label>

            <input type="radio" id="18" name="avatar" value="18">
            <label for="18">
              <div class="avatar avatar_18"></div>
            </label>

            <input type="radio" id="19" name="avatar" value="19">
            <label for="19">
              <div class="avatar avatar_19"></div>
            </label><br><br>

            <input type="radio" id="20" name="avatar" value="20">
            <label for="20">
              <div class="avatar avatar_20"></div>
            </label>

            <input type="radio" id="21" name="avatar" value="21">
            <label for="21">
              <div class="avatar avatar_21"></div>
            </label>

            <input type="radio" id="22" name="avatar" value="22">
            <label for="22">
              <div class="avatar avatar_22"></div>
            </label>

            <input type="radio" id="23" name="avatar" value="23">
            <label for="23">
              <div class="avatar avatar_23"></div>
            </label><br><br>

            <input type="radio" id="24" name="avatar" value="24">
            <label for="24">
              <div class="avatar avatar_24"></div>
            </label>

            <input type="radio" id="25" name="avatar" value="25">
            <label for="25">
              <div class="avatar avatar_25"></div>
            </label>
            <input type="submit" value="Submit">
          </form>
        </div>
      </div>
      <div class="card mb-4 mb-lg-0">
        <div class="card-body p-0">
          <p>Extra information can be showed here</p>
        </div>
      </div>
    </div>
    <div class="col-lg-8 ">
      <div class="card  my-5">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Username</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{user.name}}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{user.email}}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Member Since</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{user.createdat}}</p>
            </div>
          </div>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card mb-4 mb-md-0">
            <div class="card-body">
              <p class="mb-4"> 🏆 Trophies & Achievements 🏆</p>
              <hr>
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-4 mb-md-0">
            <div class="card-body">
              <p class="mb-4"> 📜 Match History 📜</p>
              <hr>
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>



<script>
  //function changeAvatar() {
  // Get the selected score (assuming one was selected)
  var avatar_num = document.querySelector('input[name="avatar"]:checked').value;
  var id = {{ user.id }};
  //let changeAvatar = require("../db/dbquery");
  //changeAvatar(avatar_num, id);
  alert('Your avatar has bee updated! Avatat is' + avatar_num + ' and id is ' + id);
  }
</script>


{{!--
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
--}}